.main_area{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-row-gap: 25px;
}
.graph {
    border: 2px solid black;
    border-radius: 30px;
    width: 300px;
    height: 300px;
    padding: 5px;
    background-color: burlywood ;
    opacity: 0.6;
    transition: 0.2s;
    margin-left: 20%;
    margin-top: 30%;
}
.graph:hover{
    opacity: 1;
}
.graph line, polygon, path{
    stroke: black;
    fill: cadetblue;
}
.input_elems {
    width: 500px;
    height: 300px;
    padding: 5px;
    font-family: "fantasy f", serif;;
    text-shadow: 2px 2px 5px black;
    color: burlywood;
    font-size: 20px;
    border: 2px solid burlywood;
    border-radius: 30px;
    margin-top: 30%;
    margin-left: 10%;
}
.y_input label, .x_input label, .r_input label{
    padding: 3%;
}
.y_input, .x_input , .r_input{
    padding: 3%;
}
input[type = text]:focus{
    background: burlywood;
}

input[type=text]{
    padding: 12px 12px;
    font-size: 17px;
    text-align: center;
    font-family: "fantasy f", serif;;
}

input[type=checkbox]{
    display: none;

}
input[type=checkbox] + label{
    display:inline-block;
    cursor: pointer;
    border: 1px solid burlywood;
    border-radius: 20px;
    margin-right: 1%;
    user-select: none;
    opacity: 0.6;
    transition: 0.2s;
}
input[type=checkbox]:checked + label{
    opacity: 1;
}

.buttons{
    margin-left: 5%;
}
.buttons > .button{
    cursor:pointer;
    border:  2px solid burlywood;
    background: none;
    font-size: 20px;
    font-family: "fantasy f", serif;;
    text-shadow: 2px 2px 5px black;
    color: burlywood;
    margin-right: 10%;
    opacity: 0.6;
    transition: 0.2s;
    display:inline-block;
}
.button:hover{
    opacity: 1;
}
.button:active{
    transform: translateY(10px);
}
.table_elems  {
    border: 2px solid burlywood;
    border-radius: 30px;
    width: 600px;
    padding: 15px;
    margin-left: 40%;
    margin-top: 5%;
}
input[class="reset_button"]{
    cursor:pointer;
    background: burlywood;
    font-size: 15px;
    font-family: "fantasy f", serif;;
    text-shadow: 2px 2px 5px grey;
    color: #2e3931;
    opacity: 0.6;
    transition: 0.2s;
    margin-bottom: 5px;
    margin-left: 84%;
}
input[class="reset_button"]:hover{
    opacity: 1;
}
input[class="reset_button"]:active{
    transform: translateX(10px);
}

.result_table{
    font-family: Arial, serif;
    font-style: normal;
    font-size: 17px;
    text-align: center;
    color:burlywood;
}
.result_table th{
    width: 130px;
    border: solid 2px burlywood;
    background-color: #475a4e;
}
.result_table td{
    width: 130px;
    border: solid 2px burlywood;
    background-color: #2e3931;
}


